.container{
    display:grid;
    grid-template-columns:25% 75%;
    /* align-items: center; */
    justify-content: center;
    background-color: #00000076;
    height: 85vh;
    width:85vw;
    border-radius: 2rem;
  
   

}
@media screen and (min-width:720px) and (max-width:1080px){
   .container{
    display:grid;
    grid-template-columns:40% 60%;
    background-color: rgba(12, 15, 17, 0.77);
    color: black;
   } 
}