.chat-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    left: 5rem;
    margin-top: 0 !important;
    gap: 2rem;
    /* background-color:#0000ff ; */
    height:auto;
    width:auto;

}
.user-details{
   display: flex;
   gap: 2rem;
   align-items:center !important;
   border-radius: 5rem;
}
.avatar img{
height: 3rem;

}
.username h3{
color:white;
}