.brand-img{
    display: flex;
    align-items:center;
    /* gap: 1rem; */
    justify-content:space-evenly;
    width: 20rem;
    height: 4rem;
    overflow: hidden;
    padding:1rem !important;
    
}
.brand-img-logo{
    height: 3rem !important;
    transition: all 1s ease-in-out;
    width: 40 !important;
}
h2 {
    display: flex;
    color: white;
   padding: 0;
    font-size: x-large;
    text-transform: uppercase;
    align-items: center !important;
    justify-content: left !important;
   
  }
  span >button{
   
    border-radius: 1.5rem !important;
 
}
  h3{
    display: flex;
    color: white;
   padding: 0;
    font-size: large;
    text-transform: capitalize;
    align-items: center !important;
    text-overflow:ellipsis !important;
    text-rendering:auto;
    
  }
  .contacts {
    display: flex;
    flex-direction: column;
  justify-items: left !important;
  align-content: left !important;
    align-items: center;
    overflow-x:hidden;
    gap: 0.8rem;
  }
  ::-webkit-scrollbar {
    width: 1rem;
    background-color: #ffffff39;
    border-radius: 1rem;
   
  }
  ::-webkit-scrollbar-thumb
     {
      background-color: #ffffff39;
      width: 0.1rem;
      border-radius: 1rem;
    }
  .contact{
    background-color: #ffffff34;
         min-height: 5rem;
         cursor: pointer;
         width: 90% !important;
         border-radius: 0.2rem;
         /* padding: 0.4rem; */
         display: flex;
         gap: 1rem;
         align-items: center;
         justify-content:left;
       transition: 0.5s ease-in-out;
     }
 .avatar1{
  display: flex;
 
    align-items: center;
    flex-direction: column;
    max-inline-size: 100%;
    
  }
  .avatar1-img{
    height:4rem ;
    width: 4rem !important;
    align-items:center;
    
    display: flex;
    margin-left: 20px;
   
  }

  h1{
 
    color: rgb(235, 228, 228) !important;
   display: flex;
    text-transform: capitalize;
}
  .selected {
    
    background-color: #9a86f3 !important;
    
    display: flex;
   background: url("../Images/loader2.gif") !important;

   
  }
  .current-user {
    background-color: #3b4e4f;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 50rem !important;
    flex-direction:row;
    gap: 2rem;
  }
 
.current-user2 {
 position:fixed;
  z-index: 9000;
  top:36rem;
    background-color:rgb(55, 19, 237);
    background-attachment: fixed;
    display: flex;
    flex-grow: 5% !important;
    justify-content:left;
    align-items: center;
    gap: 1rem !important;
    height:5rem;
   width: fit-content;
    
    border-radius:0rem 1rem ;
    justify-items:left !important;
    
    width:16rem;
}
.avatar2{
  display: flex;
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  justify-items: left;

}
.img{

          display:flex;
           height: 5rem;      
         max-inline-size: 100%;
         width: 2 rem;
        }
.selected {
          background-color: #9a86f3;
          border:5px solid black;
          
        }
        .username2 h1{
                color: white;
                  font-size:1.5rem;
                  align-items:center;
                  display:flex;
                  justify-content:center;
                  text-transform:capitalize;
              }

@media screen and (min-width: 40px) and (max-width: 1080px) { */
 .username h2 {
    font-size: 1rem;
    gap:0.5rem;
    
    }
    
  .brand-img{
    display: flex;
    align-items:center;
 
    justify-content:space-evenly;
    width: 18rem;
    height: 4rem;
    overflow: hidden;
    padding:1rem !important;
    
}
.brand-img-logo{
    height: 3rem !important;
    transition: all 1s ease-in-out;
    width: 40 !important;
}
}
/* @media screen and (min-width: 720px) and (max-width: 1580px) {
  /* .username h2 {
      font-size: 3rem;
      gap:0.5rem;
      
      } */
      /* .brand{
        display: flex;
       align-items:center;
        gap:1rem !important;
        justify-content:center;
    }
      img{
        height: 3rem !important;
        transition: all 1s ease-in-out;
    }
    h2 {
        display: flex;
        color: white;
        /* margin-top: 0.5rem; */
        /* font-size: x-large;
        text-transform: uppercase;
        align-items: center !important;
        justify-content: center; */
      /* }  */
  /* } */ 
/* .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    img {
      height: 2rem;
    }
    h3 {
      color: white;
      text-transform: uppercase;
    }
  }
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 0.8rem;
    &::-webkit-scrollbar {
      width: 0.2rem;
      &-thumb {
        background-color: #ffffff39;
        width: 0.1rem;
        border-radius: 1rem;
      }
    }
    .contact {
      background-color: #ffffff34;
      min-height: 5rem;
      cursor: pointer;
      width: 90%;
      border-radius: 0.2rem;
      padding: 0.4rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      transition: 0.5s ease-in-out;
      .avatar {
        img {
          height: 3rem;
        }
      }
      .username {
        h3 {
          color: white;
        }
      }
    }
    .selected {
      background-color: #9a86f3;
    }
  }
  .current-user {
    background-color: #0d0d30;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    .avatar {
      img {
        height: 4rem;
        max-inline-size: 100%;
      }
    }
    .username {
      h2 {
        color: white;
      }
    }
    @media screen and (min-width: 720px) and (max-width: 1080px) {
      gap: 0.5rem;
      .username {
        h2 {
          font-size: 1rem;
        }
      }
    } */
  /* } */