
.home-div{
    background-image:url("https://i.pinimg.com/originals/8a/13/52/8a13524dc09a8efb9da159cb912c8c5b.jpg");
background-position:center;
object-fit:cover;
background-repeat:no-repeat;
background-size:cover;
}